body {
  font-family: sans-serif;
}

.wholePage {
  height: 600px;
  width: 1200;
}

.Link {
  font-size: 30px;
  height: 100px;
  text-align: left;
  padding-top: 100px;
  border-bottom: 2px solid black
}

.Login-Page {
  font-size: 30px;
  height: 400px;
  text-align: left;
  padding-top: 80px;
}

.Header-Part {
  height: 100px;
  width: 1300px;
  border-bottom: 2px solid black;
  padding-right: 30px;
  text-align: center;
  font-size: 40px;
  color: #ff9933;
  padding-top: 50px;

}

.Header {
  height: 150px;
  font-size: 40px;
  color: #ff9933;
  padding-top: 50px;
  text-align: center;
};

.name-Box {
  height: 30px;
  width: 200px;
  resize: none;
  font-size: 40px;
  text-align: left;
}

button{
  color: blue;
}

.description-Box {
  height: 100px;
  width: 200px;
  resize: none;
  text-align: left;
  font-size: 25px;
}
.home-Page{
  height: 750px;
  width: 1300px;
  font-size: 30px;

}

.menu-Option{
  height: 500px;
  font-size: 20px;
  float : left;
  width: 600px;
  margin-top: 150px;
  text-align: center;
}

.to-do-list{
  text-align: center;
  height: 500px;
  font-size: 20px;
  float : left;
  width: 650px;
  margin-top: 80px;
};
